@font-face {
    font-family: "Val";
    src: url(../../assets/font/Valorant\ Font.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.desc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.descIll {
    grid-column: 1;
    background-image: url(../../assets/img/desc.jpg);
    background-size: cover;
}
.descLayer{
    height: 100%; 
    background: rgba(115,47,47,0.25); 
}
.descTxt {
    grid-column: 2 / span 2;
}
.descTitles {
    text-align: left;
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 40%;
}
.descTitles h3{
    font-family: 'Val';
    font-size: 150%;
    color: #BF4539;
}
.descTitles p{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #8C7F77;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.descDesc {
    text-align: left;
    margin-left: 20%;
    margin-right: 40%;
    font-family: 'Montserrat', sans-serif;
    color: #261417;
}
.descBtn {
    text-align: center;
    color: #BF4539;
    width: 20%;
    margin-left: 15%;
    font-size: 10px;
    font-weight: bold;
    border: 5px solid #BF4539;
    font-family: "Val";
    transition: all 0.5s ease-out;
}
.descBtn:hover{
    background-color: #BF4539;
    border: 5px solid transparent;
    color: #D9D8D7;
    cursor: pointer;
}

@media (max-width: 768px) {
    .desc {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        background-color: #732F2F;
    }
    .descIll {
        display: none;
    }
    .descTitles {
        text-align: center;
        margin-top: 0%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .descTitles h3{
        color: #D9D8D7;
        font-size: 200%;
    }
    .descDesc {
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 100%;
        font-family: 'Montserrat', sans-serif;
        color: #261417;
    }
    .descBtn {
        text-align: center;
        color: #D9D8D7;
        width: auto;
        margin-left: 15%;
        margin-right: 15%;
        font-size: 70%;
        font-weight: bold;
        border: 5px solid #D9D8D7;
        font-family: "Val";
        margin-bottom: 5%;
    }
    .descTitles p{
        color: #BF4539;
        font-size: 150%;
    }
    .descDesc {
        color: #D9D8D7;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

    .desc {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}