.home-service {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-image: url(../../assets/img/homedesc.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 135% 75%;
}
.cardCont {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 10%;
    gap: 5%;
}
.card {
}
.card h1 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    color: #8C7F77;
}
.cardNum {
    text-transform: uppercase;
    font-size: 30px;
    text-align: left;
    width: 50%;
    overflow: hidden;
    background-color: #261417;
    color: #BF4539;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.cardDesc{
    margin-left: 15%;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}
.home-desc {
    grid-column: 1 / span 2;
}
.home-Txt{
    margin-left: 15%;
    text-align: left;
}
.home-Titles{
    text-align: left;
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 40%;
}
.home-Titles h3{
    font-family: 'Val';
    font-size: 25px;
    color: #BF4539;
}
.home-Titles p{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #8C7F77;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
