.footerInfo{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    overflow: hidden;
}
.footerTitle{
    font-family: 'Val';
    font-size: 30px;
    color: #BF4539;
}
.footerAdresse{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    margin-left: 10%;
    margin-top: 5%;
}
.footerSocial{
    display: grid;
    text-align: right;
    grid-template-columns: repeat(10, 1fr);
}
.footerSocial img{
    margin-top: 100%;
    width: 70%;
}
.bottomMenu{
    border-top: 1px solid rgba(140, 127, 119, 0.2);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    font-family: 'Montserrat', sans-serif;
}
.footerBtn{
    grid-column: 9;
    font-family: 'Val';
    color: #BF4539;
    border: 5px solid #BF4539;
    padding: 5%;
    cursor: pointer;
}
@media (max-width: 768px) {
    .footerInfo{
        display: grid;
        grid-template-columns: auto;
        overflow: hidden;
    }
    .footerTitle{
        font-size: 150%;
    }
    .footerAdresse{
        text-align: center;
        margin: 0;
    }
    .footerSocial{
        display: grid;
        text-align: right;
        grid-template-columns: repeat(10, 1fr);
    }
    .footerSocial img{
        grid-template-columns: 8;
        margin-top: 0;
    }
    .bottomMenu{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        font-family: 'Montserrat', sans-serif;
    }
    .footerBtn{
        grid-column: 2 / span 2 ;
        grid-row: 2;
        
        font-family: 'Val';
        color: #BF4539;
        border: 5px solid #BF4539;
        padding: 5%;
    }
}