.navBot{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2%;
    width: 100%;
    height: 50px;
    background-color: #BF4539;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
a.bottom-nav{
    text-decoration: none; 
    color: #D9D8D7;
}
.navBot:hover{
    opacity: 1;
}
.navBot p{
    transition: all 0.3s ease-out;
    color: #D9D8D7;
    text-decoration: none;
    top: 50%;
}
@media (max-width: 1300px) {
    .navBot{
        display: none;
    }
}
