@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: small;
    font-family: 'Val', sans-serif;
    font-weight: bold;
    color: #BF4539;
    z-index:5;
}
.navbar a.nav-link {
    letter-spacing: 0.2em;
    cursor: pointer;
    text-decoration: none;
    color: #BF4539;
    transition: ease-in-out 0.5s;
}
.nav-page{
    display: grid;
    width: 100%;
    letter-spacing: 0.2em;
    grid-template-columns: repeat(3, 1fr);
    transition: ease-in-out 0.5s;
    border-bottom: 5px solid rgba(191, 69, 57, 0.05);
}
.nav-page:hover{
    background-color:#D9D8D7;
    color: #BF4539;
    border-bottom: 5px solid rgba(191, 69, 57, 1);
}
.nav-contact {
    cursor: pointer; 
}
.nav-icons {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.FB {
    display: block;
    grid-column: 8;
}
.FB img{
    width: 30%;
}
.IG {
    display: block;
    grid-column: 9;
}
.IG img{
    width: 30%;
}
@media (max-width: 768px) {
    .navbar {
        display: block;
        background-color: #D9D8D7;
        border-bottom: 5px solid rgba(191, 69, 57, 1);
    }
    .nav-icons {
        display: none;
    }
}