@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: small;
    font-family: 'Val', sans-serif;
    font-weight: bold;
    color: #BF4539;
    z-index:5;
}
.navbar a.nav-link {
    letter-spacing: 0.2em;
    cursor: pointer;
    text-decoration: none;
    color: #BF4539;
    transition: ease-in-out 0.5s;
}
.nav-page{
    display: grid;
    width: 100%;
    letter-spacing: 0.2em;
    grid-template-columns: repeat(3, 1fr);
    transition: ease-in-out 0.5s;
    border-bottom: 5px solid rgba(191, 69, 57, 0.05);
}
.nav-page:hover{
    background-color:#D9D8D7;
    color: #BF4539;
    border-bottom: 5px solid rgba(191, 69, 57, 1);
}
.nav-contact {
    cursor: pointer; 
}
.dropdown {
    margin-top: 8%;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #D9D8D7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content,
   .dropdown:focus .dropdown-content,
   .dropdown:active .dropdown-content {
    display: block;
  }
.nav-icons {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.FB {
    display: block;
    grid-column: 8;
}
.FB img{
    width: 30%;
}
.IG {
    display: block;
    grid-column: 9;
}
.IG img{
    width: 30%;
}
@media (max-width: 768px) {
    .navbar {
        display: block;
        background-color: #D9D8D7;
    }
    .nav-icons {
        display: none;
    }
    .dropdown {
        margin-top: 10%;
        position: relative;
        display: inline-block;
      }
}